/* Header e Area de background -> Daniel */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #e4380e;
    --red-color: #b70e09;
    --green-color: #035f28;
    --blue-color: #096362;
    --yellow-color: #fe9507;
    --orange-color: #ec450c;
    --ligth-color: #fff;
}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}









/* Sobre e Programação -> Raynara */




/* Galeria de Fotos -> Daniel */
#galeria {
  background-color: #f7eee2;
  padding: 2rem 2rem;
}

#galeria h2 {
  color: var(--orange-color);
  margin-bottom: 1rem;
}

#galeria p {
  margin-bottom: 2rem;
}

#galeria .images-galerry {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#galeria .images-galerry img{
    box-shadow: 6px 10px 10px #fe930751;
    border: 10px solid var(--red-color);
    border-radius: 10px;
}


/* formulario -> Victor */





/* Footer -> quem quiser */